body {
}
p, label, input, legend, select, li, a, h1, h2, h3, h4 {
    font-family: "Source Sans Pro" !important;
}
h1, h2, h3, h4 {
    font-weight: 200;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 160%;
}
h3 {
    font-size: 135%;
}
h4 {
    font-size: 120%;
}
form fieldset legend {
    font-size: 125%;
    font-weight: 200;
}
nav, nav > section > ul > li > a {
    background-color: #263545 !important;
}
nav ul.title-area li.name h1 a {
    font-size: 175%;
    font-weight: 200 !important;
    text-transform: uppercase;
}
nav section.top-bar-section ul li a {
    font-size: 90%;
    font-weight: 400 !important;
}
nav section.top-bar-section ul.dropdown li a:hover {
    background-color: #60A6C2;
}
ul.side-nav li a {
    font-weight: 400 !important;
}
ul.side-nav li label {
    color: #999;
}
table.full-width {
    width: 100%;
}
table thead tr td, table tfoot tr td {
    font-family: "Source Sans Pro";
    font-weight: 600;
}
table tbody tr td {
    font-family: "Source Sans Pro";
    font-weight: 400;
}
table tbody tr.section {
    background-color: white;
}
table tbody tr.section td {
    padding-top: 1.0em;
    font-weight: 200;
    font-size: 120%;
}
ul.breadcrumbs li.right.first :before {
    content: "" !important;
}
tfoot > tr > td > div.center > ul.pagination {
    margin: 0 auto;
    display: inline-block;
    list-style: none;
}
table thead tr td a.button {
    margin: 0;
}
a.button.image {
    padding: 0;
    border: 0;
}
ul.f-dropdown li img {
    margin-right: 0.5em;
}
ul.f-dropdown li label {
    font-size: 140%;
    padding: 0.5em;
}
ul.f-dropdown li label:hover {
    background-color: white;
}
ul.pagination > li {
    display: inline-block;
}
div.center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.indent-1 { padding-left: 1em; }
.indent-2 { padding-left: 2em; }
.indent-3 { padding-left: 3em; }
.indent-4 { padding-left: 4em; }
.indent-5 { padding-left: 5em; }
.indent-6 { padding-left: 6em; }
.indent-7 { padding-left: 7em; }
.indent-8 { padding-left: 8em; }
.indent-9 { padding-left: 9em; }
.skill.none {
    color: #f00;
}
.skill.partial {
    color: #fc0;
}
.skill.full {
    color: #090;
}
