[% META title = 'Pilot' %]
[% USE Number.Format %]

[% PROCESS site/breadcrumbs %]

<div class="row">
    <div class="large-10 columns">
        <h1>[% pilot.name %]</h1>
    </div>
    <div class="large-2 columns">
        <a href="#" class="small button success right">Active</a>
    </div>
</div>
